# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore all txt files
*.txt

# ignore pdb and exe
*.exe
*.pdb

### Above combination will ignore all files without extension ###